// Resets

// Box Sizing
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
// Images Resets
img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
}
