// typpgraphy

@use 'variables' as *;

p {
    font-size: 1.1em;
  }
  
  h2 {
    font-size: 1.3em;
  }
  
  h3 {
    font-size: 0.9em;
  }
  
  footer p {
    font-size: 0.7em;
  }
  
  h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Libre Baskerville', serif; 
  }
  li {
    list-style: none;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
  }
  