// Main Site Variables

// Colors
$bgColor: white;
$bgColorBody: white;
$bgColorWrapper: white;

// Text Colors
$textColor: black;

// Fonts


// Layout Variables 
$lineHeight: 1.5;

// GuttersS





