// Main Site Variables

// Colors
$bgColor: rgb(230, 255, 140);
$bgColorBody: rgb(251, 255, 238);
$bgColorWrapper: white; 
$headerColor: black;
$h1Color: white;
$buttonColor: #c0b688;
$buttonTextColor: rgb(240, 247, 240);
$hoverColor:#a7995e;
$formsRowBorder:rgb(114, 109, 109);


// Text Colors
$textColor: black;

// Fonts
$footerP:'Libre Baskerville', serif;

// Layout Variables 
$lineHeight: 1.5;

// GuttersS




