// Main Site Variables

// Colors
$bgColor: rgb(230, 43, 43);
$bgColorBody: rgb(238, 232, 144);
$bgColorWrapper: rgb(228, 84, 84);

// Text Colors
$textColor: black;

// Fonts


// Layout Variables 
$lineHeight: 1.5;

// GuttersS





